@charset "UTF-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	background-color:#000;
	color:white;
}
img {
	border:none;
}
h1, h2, h3, h4, p {
	padding:5px;
}
h1 {
	font-size: 36px;
	line-height:40px;
	color:#FFF;
}
h2 {
	font-size: 28px;
	line-height:30px;
}
h3 {
	font-size: 22px;
	line-height:24px;
	color: #941d20;
}
h4 {
	font-size: 20px;
	line-height:22px;
}
.header {
	text-align:center;
	background-color:black;
	color:white;
	width:100%;
	overflow:hidden;
}
.container {
	color: black;
	line-height:22px;
	overflow:hidden;
}
.container a {
	color:#941d20;
}
.container a:hover {
	color:#000;
}
.container #left {
	float:left;
	width: 45%;
}
.container #right {
	float:right;
	width:45%;
}
.tab {
	text-indent:40px;
}
.container, .footer {
	background-color: white;
	max-width:1500px;
	padding: 10px;
	margin:0 auto;
}
.footer {
	color:#999;				/*Footer text color*/
	font-size:10px;
	border: dashed thin #999;
}